/* $Id: quickypix.css 335 2006-01-21 04:02:18Z quarl $ */

/* Basic definitions needed by any QuickyPix installation */

/* This file caters to two kinds of layout:
     * quickypix-tables (using table for master layout)
     * quickypix-float (using floating div for master layout)
*/


/* apparently MSIE doesn't render correctly if we combine these two */

img {
    border: 1px solid #333333;
}

input[type="image"] {
    border: 1px solid #333333;
}

.albums img {
    border: 2px outset #333333;
}

.albums input[type="image"] {
    border: 2px outset #333333;
}

.selected-pic {
    border: 1px solid #ff4455;
}

.comment p {
    margin: 0;
    margin-bottom: 0.5ex;
}

table.ftable {
    border:          0px ;
    width:           100%;
    border-spacing:  0px;
    border-collapse: collapse;
}

table.ftable td {
    vertical-align: top;
}

table.ftable td.filler {
    padding: 0;
    margin:  0;
}

.pic {
    margin:      0;
    padding:     0;
    margin-left: 10px;
}

.quickypix-float .pic {
    /* float: right; */
    
    /* border: 2px solid black; */
    width: 515px;
    
    /* position: absolute; */
    /* position: fixed; */
    right: 30px; 
    top: 70px;
}

.quickypix-float .nav {
    /* float: right; */
}

.pic img, .pic input[type="image"] {
    margin:        0;
    margin-bottom: 5px;
    display:       block;
}

.info {
    margin-top: 4px;
    border:     1px dashed #333333;
    width:      260px;
    font-size:  10px;
}

.quickypix-tables .info {
    float:      right;
}

.quickypix-float .info {
    /* position: relative; */
    /* left: 240px; */
}

.info td:first-child {
    text-align: right;
}

.info td:first-child + td {
    font-weight: bold;
    color:       black;
}

.dummy {
    margin:      0;
}

.nav {
    /* font-size: 80%; */
}

.quickypix-tables .nav div {
    clear: both;
}

.quickypix-float .nav div {
}

.nav dl {
    float:      left;
    margin:     10px;
    text-align: center;
}

.nav .albums dt {
    height: 83px;
}

.nav .albums dl {
    width: 120px;
}

.nav .pictures dl {
    width: 80px;
    height: 60px;
}

.editing .nav .pictures dl {
    width: 100px;
}

.nav dt {
    display:    block;
    text-align: center;
}

.albums dd {
    font-size: 90%;
}

.nav dd {
    display: block;
    margin:  0;
    height:  35px;
}

.footer {
}

br {
    clear: both;
}

.login {
    font-size: 80%;
}

.login span {
    font-weight: bold;
}

input[type="submit"] {
    float:       right;
    width:       100px;
    margin-left: 3px;
}

label {
    font-size: 80%;
}

input[type="text"], textarea, label {
    display: block;
}

#edit-buttons {
    padding-bottom: 10px;
    text-align: right;
}    

#edit-buttons form {
    display: inline;
}

#edit-buttons input {
    float: none;
    display: inline;
}

#album-comment {
    float: left;
}

#album-comment textarea {
    margin-bottom: 6px;
}

#album-title {
    float: right;
}

#album-title input {
    width: 200px;
}    

#pic-filename {
    float: left;
}

#pic-comment {
    clear: left;
    margin-top: 40px;
}

#pic-comment textarea {
    width: 99%;
}

#pic-commit {
    float: right;
}

.recently-modified {
    color: green;
}

